/* fondo del body */
body{
    margin: 0;
    height: 200hv;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
/* Diseño de la carta */
.carta{
  background-color: rgb(8, 251, 226);
  width: 400px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 15px 40px rgb(207, 10, 10);
  text-align: center;
  transition: transform 0.3s ease;
}
    
/* Efecto al pasar el mouse */

